################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Src/bin/
/Src/obj/
/.vs
*.suo
*.user
*.dgml
/Src/.vs/config
